#*#
*.a
*.d
*.gcno
*.gcda
*.ko
*.la
*.lo
*.loT
*.mod.c
*.o
*.obj
*.exe
*~
*.Tpo
*.so
*.tar.gz
*.cdbs-config_list
config.guess.cdbs-orig
config.h
config.h.in
config.sub.cdbs-orig
ylwrap
/Makefile
/Makefile.in
/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure-stamp
/depcomp
/distfiles
/dist-docs
/install-sh
/libtool
/manpage-check
/missing
/missing-distfiles
/package.m4
/stamp-h1
/ltmain.sh
/ar-lib
/autom4te.cache
/GPATH
/GRTAGS
/GTAGS
/test-driver
/rpm
pr.ber
test-suite.log
*.info
*-coverage/
