tmp/
files
esnacc.debhelper.log
esnacc.substvars
esnacc/
files
libesnacc-dev.debhelper.log
libesnacc-dev.substvars
libesnacc-dev/
libesnacc180.debhelper.log
libesnacc180.postinst.debhelper
libesnacc180.postrm.debhelper
libesnacc180.substvars
libesnacc180/
stamp-autotools
stamp-autotools-files
stamp-makefile-build
stamp-makefile-install
