#!/usr/bin/make -f

DEB_DH_ALWAYS_EXCLUDE=.git

%:
	dh $@ --with autoreconf

# use --as-needed only if supported by dh-autoreconf (to simplify backporting)
DH_AS_NEEDED=$(shell dpkg --compare-versions $$(dpkg --status dh-autoreconf | grep Version | cut -d' ' -f2) ge 6 && echo --as-needed)
override_dh_autoreconf:
	dh_autoreconf $(DH_AS_NEEDED)

override_dh_auto_configure:
	dh_auto_configure -- --libdir=/usr/lib --libexecdir=/usr/libexec

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	if $(MAKE) check; then :; \
	else \
		exit 1; \
	fi
endif

override_dh_auto_build:
	dh_auto_build

override_dh_auto_clean:
	dh_auto_clean

override_dh_install:
	dh_install
